footer{
    background-color: #22181C;
    padding: 50px;
    margin-top: 10px;
    align-items: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    color: #fff;
}

.redes a {
    text-decoration: none;
}

footer .redes {
display: block;
margin: 25px;
position: absolute;
left: 630px;
}

footer img {
    width: 32px;
    height: 32px;
    margin: 15px;

}